.Room {
    text-align: center;
}

.Room-header {
    min-height: 100vh;
}

.Room-master-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 5vw 0 5vw;
}

.Room-chat-container {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 5vw 0 5vw;
}